* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  /*   allow to scroll more smooth when using navigation */
  scroll-behavior: smooth;
}

nav {
  /*   fix header to the top */
  position: fixed;
  /*   way to display elements in one row */
  display: flex;
  /*   way to display elements in center */
  align-items: center;
  background-image: linear-gradient(180deg, #007aff 60%, #009bff);
  width: 100%;
  top: 0px;
  height: 50px;
  /*   display header before any element */
  z-index: 1;
  justify-content: right;
  border-bottom: 2px solid silver;
}

ul {
  display: flex;
  font-size: 1.2rem;
}

h1 {
  font-size: 3rem;
  color: #fff;
  letter-spacing: 1.1rem;
  text-transform: uppercase;
  text-shadow: 0 0 25px black;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 350;
  text-shadow: 0 0 25px black;
  text-align: center;
}

p {
  font-size: 1.4rem;
  color: #008aff;
  font-weight: bold;
  text-align: center;
}

p2 {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 15px black;
}

.nav-link {
  /*   margin here keep words in ul separetated when list randered in flex */
  margin-right: 20px;
  color: #fff;
  text-shadow: 0 0 5px black;
}

a {
  text-decoration: none;
  color: #008aff;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(62deg, #3a3d40, #181719);
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-image: linear-gradient(190deg, #3a3d40, #181719);
}

.contacts {
  display: flex;
  font-size: 1.2rem;
}

.contact-details {
  margin: 5px;
}

.contact-details {
  text-shadow: 2px 2px 1px #1f1f1f;
  font-weight: bold;
}

.contact-details:hover {
  transition: transform 0.3s ease-out;
  transform: scale(1.03);
  text-shadow: 0 0px 10px #008aff;
}

#projects {
  padding-top: 150px;
  background-color: #45567d;
  /* background-image: url(../img/react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right 105%;
  background-size: 500px; */
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 5rem;
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

.projects-section-header {
  padding-bottom: 50px;
  margin-bottom: 55px;
  color: #eee;
  border-bottom: 0.2rem solid #eee;
}

.projects-section {
  padding: 6rem 1rem;
  padding-bottom: 200px;
}

.project-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 1mm solid rgb(221, 221, 221);
  border-radius: 25px;
  /* padding-bottom: 5px; */
}

.major-project-image {
  height: 100%;
  width: 50%;
  object-fit: cover;
  border: 1mm solid rgb(221, 221, 221);
  border-radius: 25px;
  margin: 0 auto;
  margin-bottom: -200px;
}

.major-project-image:hover {
  transition: transform 0.2s ease-in;
  transform: scale(1.03);
  box-shadow: 0 0px 15px silver;
}

.project-image:hover {
  transition: transform 0.2s ease-in;
  transform: scale(1.03);
  box-shadow: 0 0px 15px silver;
}

.project-btn {
  padding: 0.6rem;
  color: #eee;
  text-shadow: 0 0 6px black;
  /* background-image: linear-gradient(0deg, #007aff 60%, #009bff);
  border-radius: 15px; */
}

@media (max-width: 640px) {
  .project-tile {
    padding: 0 20px 0 20px;
  }

  h1 {
    padding-left: 10px;
  }

  .nav-link {
    margin-right: 15px;
  }

  .contacts {
    display: flex;
    flex-direction: column;
  }

  #projects {
    padding-top: 120px;
  }

  .projects-section {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 100px;
  }

  .projects-section-header {
    padding-bottom: 0px;
    border-bottom: 0px;
  }

}