@import url('https://fonts.googleapis.com/css?family=Lobster');

html {
  font-size: 10px;
  background-color: silver;
}

body {
  font-family: Arial;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
    margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.06);
  padding-top: 15px;
  
}

h1 {
  font-family: Lobster;
  font-size: 4rem;
  margin-bottom: 0;
}

ul{
  max-width: 550px;
  margin: auto auto auto auto;
  text-align: left;
  line-height: 2.0;
}

a {
  color: #477ca7;
}

a:visited {
  color: #74638f;
}

#main {
  margin: 30px 150px;
  padding: 15px;
  border-radius: 5px;
  background: silver;
}

#image{
  border-color: gray;
  border-width: 2px;
  border-style: solid;
  max-width: 40%;
  border-radius: 20%;
  margin: 50px auto auto auto;
  padding: 4px;
  display: block;
  background-color: white; 
}

@media (max-width: 560px) {
  #main {
    margin: 0;
  }
}

#img-div {
  background: lightgray;
  padding: 1px;
  margin: 3% 5% 5% 5%;
}

/* 
#img-div:hover{
background: lightgray;
border-radius: 50%;
}
*/

#img-caption {
  margin: 3% auto 3% auto;s
}

}

#headline {
  margin: 50px 0;
  text-align: center;
}

footer{
/*   padding-bottom: 1rem; */
/*   margin-bottom: 6rem; */
}