* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  background-image: linear-gradient(260deg, silver, rgba(136, 136, 206, 0.8)),
    url(https://upload.wikimedia.org/wikipedia/commons/1/1e/San_Francisco_from_the_Marin_Headlands_in_March_2019.jpg);
}

#header {
  /*   fix header to the top */
  position: fixed;
  /*   way to display elements in one raw */
  display: flex;
  /*   way to display elements in center */
  align-items: center;
  background-color: #000;
  width: 100%;
  top: 0px;
  height: 50px;
  /*   display header before any element */
  z-index: 1;
  /*   space between logo and navigation */
  justify-content: space-between;
}

ul {
  display: flex;
  font-size: 1.2rem;
}

#header-img {
  padding-left: 50px;
}

.nav-link {
  text-decoration: none;
  margin-right: 20px;
  color: #879fff;
}

/* to correct navigation */
.container {
  position: relative;
  top: 100px;
}

section {
  padding: 50px;
}

.cards {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  gap: 1rem;
}

.not-included {
  font-family: arabic-indic;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  color: #bbbbbb;
  text-shadow: 0 0 1px darkgray;
}

.included {
  font-family: arabic-indic;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  color: #005bff;
}

h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
  font-family: arabic-indic;
  color: #007bff;
  text-shadow: 0 0 2px black;
}

h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
  font-family: arabic-indic;
  color: #007bff;
  text-shadow: 0 0 2px black;
}

.service {
  margin: 5px auto;
  background-color: #eee;
  min-width: 190px;
  border-color: #007bff;
  border-width: 3px;
  border-style: solid;
  border-radius: 15px;
  box-shadow: 3px 3px #888888;
}

@media (max-width: 640px) {
  .cards {
    flex-direction: column;
  }

  #video {
    width: 130%;
  }

  img {
    display: none;
  }

  .icon {
    display: none;
  }
}

#how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#video {
  max-width: 560px;
}

#email {
  display: flex;
  margin: 5px auto;
}

.btn {
  /*   to keep button in center */
  display: block;
  margin: 15px auto 5px;
  color: #fff;
  background-image: linear-gradient(180deg, #009bff, #005bff);
  border-radius: 15px;
  border-width: 2px;
  border-color: gray;
  padding: 13px 65px;
  cursor: pointer;
  font-size: 1rem;
  text-shadow: 0 0 5px #000;
}

.btn:hover {
  background-image: linear-gradient(180deg, #008bff, #003bff);
}

.level {
  font-size: 1.2rem;
  text-align: center;
  /*   margin: 5px 5px; */
  padding: 5px;
  background-color: #007bff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #eee;
  text-shadow: 0 0 5px black;
}

.price {
  font-size: 3rem;
  font-family: arabic-indic;
  color: #005bff;
  text-shadow: 0 0 2px black;
  margin-top: 25px;
}

#email {
  width: 215px;
  height: 3rem;
  border: 2.5px solid gray;
  text-align: center;
  border-radius: 15px;
}

p {
  padding-bottom: 80px;
  padding-left: 20px;
  text-align: left;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 2px #000;
}

p2 {
  padding-top: 30px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 2px #000;
}

section#features {
  max-width: 720px;
  margin: 0 auto;
}

.border {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: solid 5px;
}

footer {
  height: 50px;
  display: flex;
  /*   keep elements or text in colomn */
  flex-direction: column;
  align-items: center;
  /*   adding space between element or text lines below or top */
  justify-content: space-evenly;
  background-color: #000;
}

.grid {
  display: flex;
}

.icon {
  padding-top: 15px;
  width: 15vw;
}

i {
  color: #006cff;
}

#header-img {
  margin-left: 5px;
  max-height: 40px;
  margin-top: 5px;
}