/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background: rgb(213,213,213);
	background: radial-gradient(circle, rgba(213,213,213,1) 37%, rgba(187,187,187,1) 71%);
	text-align: center;
	line-height: 1.4em;
}

.container {
	padding: 0px;
	/* margin-top: 40px; */
	/* border: thick double #222; */
	border: 3mm double rgba(53, 53, 53, 0.1);
	border-radius: 30px;
	margin: auto 20%;
}

h3 {
  margin-top: 30px;
}

hr {
	margin: 25px;
}

.footer {
	margin-top: 40px;
}

code {
  font-family: monospace;
  padding: 2px;
  color: #000;
}

ul {
	list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}

a {
	color: #2574A9;
}
