@import url("https://fonts.googleapis.com/css?family=Lobster");

html {
  font-size: 14px;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(260deg, silver, rgba(136, 136, 206, 0.8)),
    url(https://upload.wikimedia.org/wikipedia/commons/1/1e/San_Francisco_from_the_Marin_Headlands_in_March_2019.jpg);
}

.text-style {
  text-align: center;
  font-family: Aria;
  color: white;
  text-shadow: 0 0 5px black;
}

.form-ctrl {
  width: 100%;
  height: 2.5rem;
  margin-bottom: 1rem;
  border: 2.5px solid gray;
  border-radius: 0.5rem;
}

#survey-form {
  background: rgba(27, 27, 50, 0.4);
  padding: 2rem;
  border-radius: 2rem;
}

#dropdown {
  width: 102%;
}

label {
  font-family: Arial;
  padding: 3%;
  color: white;
}

.button {
  width: 102%;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  text-shadow: 0 0 5px black;
}

fieldset {
  color: white;
  font-size: 15px;
  border-color: white;
  border-radius: 10px;
}

.input-textarea {
  width: 100%;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: white;
}

button:hover {
  background: #005bff;
}
  
    @media (min-width: 420px) {
    #survey-form {
      margin-left: 15%;
      margin-right: 15%;
        box-sizing: border-box;
    }

  @media (min-width: 680px) {
    #survey-form {
      margin-left: 25%;
      margin-right: 25%;
        box-sizing: border-box;
    }
    
      @media (min-width: 1060px) {
    #survey-form {
      margin-left: 30%;
      margin-right: 30%;
        box-sizing: border-box;
    }
  }
}