* {
    padding: 0;
    margin: 0;
    /* ANY BOX/DIV/SECTION WILL BE RESIZED ACCORDINGLY TO THE ELEMENTS */
    /* box-sizing: border-box; */
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: silver;
}

p {
    font-weight: bold;
    text-shadow: 0 0 5px black;
    color: #fff;
}

/* FIGHT SCENE */
.fightSceneContainer {
    height: 100vh;
    display: flex;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0, 0, 255, 0.3), rgba(255, 255, 0, 0.5)), url(images/Base.jpeg);
}

.divBackgroundSceneInTheCenter {
    width: 600px;
    height: 300px;
    margin: auto auto;
    background-image: linear-gradient(rgba(0, 0, 255, 0.3), rgba(255, 255, 0, 0.5));
    background-color: silver;
    border-radius: 10px;
    border: 3px solid gray;
    display: flex;
}

.fightButton:hover {
    /* .fightButton:active{ */
    transform: scale(.95);
    transition: transform .2s;
}

.fighterCardOverall {
    width: 100px;
    margin: auto auto;
    padding: 2%;
    background-color: silver;
    border: 3px solid gray;
    border-radius: 5px;
    text-align: center;
}

.healthbar1 {
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: pink;
}

#health1 {
    width: 100%;
    border-radius: 3px;
    background-color: red;
    border: 1px solid black;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 5px black;
    text-align: left;
    /* HIGHLIGHT HEALTHBAR */
    /* MAKE TRIGGER ANIMATION ON HEAL (NOT A HIT) */
    animation-name: backdiv;
    animation-duration: 1s;
}

.healthbar2 {
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: pink;
}

#health2 {
    width: 100%;
    border-radius: 3px;
    background-color: red;
    border: 1px solid black;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 5px black;
    text-align: left;
    /* HIGHLIGHT HEALTHBAR */
    /* MAKE TRIGGER ANIMATION ON HEAL (NOT A HIT) */
    animation-name: backdiv;
    animation-duration: 1s;
}

/* HIGHLIGHT HEALTHBAR */
/* MAKE HIGHLIGHT TRIGGER ON HIT */
@keyframes backdiv {
    50% {
        /* background: #ffe6f2; */
        background: brown;
    }
}

/* .fightButton:hover {
    animation: shake 0.2s;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  } */