* {
    /* padding: 0; */
    margin: 0;
    /* ANY BOX/DIV/SECTION WILL BE RESIZED ACCORDINGLY TO THE ELEMENTS */
    /* box-sizing: border-box; */
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: silver;
}

p {
    font-weight: bold;
    text-shadow: 0 0 5px black;
    color: #fff;
}

/* FIGHT SCENE */
.fightSceneContainer {
    height: 100vh;
    display: flex;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0, 0, 255, 0.3), rgba(255, 255, 0, 0.5)), url(images/Base.jpeg);
}

.divBackgroundSceneInTheCenter {
    width: 600px;
    height: 300px;
    margin: auto auto;
    background-image: linear-gradient(rgba(0, 0, 255, 0.3), rgba(255, 255, 0, 0.5));
    background-color: silver;
    border-radius: 10px;
    border: 3px solid gray;
    display: flex;
}

/* .autoFightButton:hover { */
.autoFightButton:active {
    transform: scale(.95);
    transition: transform .2s;
}

/* COMMENT THIS TO SEE HOW MULTIPLE FIGHTERS CAN BE FIT IN ONE SCREEN */
.cards {
    width: 100px;
    margin: auto auto;
    padding: 10px;
    background-color: silver;
    border: 3px solid gray;
    border-radius: 5px;
    text-align: center;
}

.itemCard{
    background-color: white;
}

.fightMenu{
    margin: auto auto;
    background-color: darkgrey;
    border: 3px solid gray;
    padding: 3px;
}

.healthbar1 {
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: pink;
}

#health1 {
    width: 100%;
    border-radius: 3px;
    background-color: red;
    border: 1px solid black;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 5px black;
    text-align: left;
    animation-name: backdiv;
    animation-duration: 1s;
}

.healthbar2 {
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: pink;
}

#health2 {
    width: 100%;
    border-radius: 3px;
    background-color: red;
    border: 1px solid black;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 5px black;
    text-align: left;
    animation-name: backdiv;
    animation-duration: 1s;
}

/* HIGHLIGHT HEALTHBAR */
/* MAKE HIGHLIGHT TRIGGER ON HIT */
@keyframes backdiv {
    50% {
        background: brown;
    }
}

